<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antri Yuk</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body data-spy="scroll" data-target="#navbarSupportedContent">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8 col-md-8 col-12 justify-content-center mb-3">
                <div style="background-color: white; border-radius: 10px; box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.1); width: 100%;" class="pt-3 py-3">
                    <center>
                        <img src="{{ asset('node_module/assets/gmb2.png') }}" class="mb-2 img-thumbnail" style="width: 60%;" />
                        <img src="{{ asset('node_module/assets/gmb2.png') }}" class="mb-2 img-thumbnail" style="width: 60%;" />
                        <img src="{{ asset('node_module/assets/gmb2.png') }}" class="mb-2 img-thumbnail" style="width: 60%;" />
                    </center>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mb-3">
                <div class="card px-5 py-5" style="width: 100%; height: 100%; background-color: white; box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.1); color: #123545;">
                    <center>
                        <b>
                            <font size="+4">Antrianism</font>
                        </b><br> | Admin Access |
                        <hr style="width: 60%; background-color: white;">
                    </center>
                    <br>
                    <form action="{{route("auth.login")}}" method="POST">
                        <input type="text" name="fullName" placeholder="Username" class="form-control" />
                        <br>
                        <input type="password" name="password" placeholder="Password" class="form-control" />
                        <br>
                        <center>
                            <b>
                                <input type="submit" value=">>>" class="btn btn-primary" style="width: 60px; height: 60px;">
                            </b>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
